.App{
  width:80%;
  margin:auto;
}

nav{
  position: fixed;
  top:0;
  width:100%;
  background-color: white;
  
}

.logo{
  font-size: 20px;
}

.navinner{
  display: flex;
  justify-content: space-between;
  width:80%;
  
}

.navinner a{
  color:#060606;
}

.top-right{
  padding:16px 16px;

}

.container{
  padding-top:48px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.padding{
  width:25%;
}

img{
  width:98%;
  padding:2%;
  object-fit: cover;
  height:98%;
  transition: 0.2s ease-in-out;
  border-radius: 32px;
}

img:hover{
  border-radius: 0px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.title{
  padding-top:64px;
  font-size: 64px;
}

.tagline{
  font-size: 16px;
}

.cta{
  border-radius: 48px;
  position: fixed;
  bottom: 48px;
  right:48px;
}
.cta a{
  color:rgb(0, 0, 0);
  font-size: 24px;
}

@media(max-width:768px){
  img{
    width:98%;
    padding:2%;
    object-fit: cover;
    height:98%;
    transition: 0.2s ease-in-out;
    border-radius: 16px;
  }
  .padding{
    width:33.333%;
  }
}

@media(max-width:455px){
  .App{
    width:98%;
    margin:auto;
  }
  .title{
    font-size: 48px;
  }
  
  .tagline{
    font-size: 20px;
  }
  .padding{
    width:50%;
  }
  
  img{
    width:98%;
    padding:2%;
    object-fit: cover;
    height:98%;
    transition: 0.2s ease-in-out;
    border-radius: 16px;
  }
  
  img:hover{
    border-radius: 0px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  .navinner{
    display: flex;
    justify-content: space-between;
    width:98%;

  }
  .top-right{
    padding:20px 16px;
  
  }
}
